#page-header {
  background-image: url("../img/ImgGeral/img/nikeWalpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 12vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  border-bottom: 10px solid #000;
  border-top: 10px solid #000;
}

#page-header h2 {
  color: #000;
}

#page-header p {
  color: #000;
  font-weight: 600;
}

#page-header span {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
