<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/CssGeral/css/style.css" />
    <link rel="stylesheet" href="/CssGeral/css/responsive.css" />
    <link rel="stylesheet" href="/About/about.css" />

    <link rel="icon" href="/ImgGeral/img/abaLOGO.png" />

    <title>Kick's Club Store</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section id="header">
      <a href="/index.html"
        ><img class="logo" src="/ImgGeral/img/logoMainimports-04.png"
      /></a>

      <div class="menu">
        <ul id="navbar">
          <li><a href="/index.html">Principal</a></li>
          <li><a href="/HtmlGeral/htmlBrend/shopJordan.html">Marcas</a></li>
          <li><a class="active" href="/About/about.html">Informações</a></li>
          <li><a href="/userAccount/Resgister/register.html">Registrar-se</a></li>
          <li><a href="/userAccount/login/login.html">Login</a></li>
          <li>
            <a href="/cart/cart.html"
              ><i
                id="lg-bag"
                class="fas fa-shopping-bag"
                style="color: #000000"
              ></i
            ></a>
          </li>
          <a href="#" id="close"><i class="fas fa-times"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a href="/cart/cart.html"
          ><i class="fas fa-shopping-bag" style="color: #000000"></i
        ></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="page-header" class="section-m2">
      <h2>DÚVIDAS E INFORMAÇÕES</h2>
    </section>


    <section class="duvidas" name="duvidas">
      <!-- Imagem -->
      <div class="imagem"></div>
      <!-- Texto -->
      <div class="texto">
        <h2>DÚVIDAS FREQUENTES!</h2>
        <p>Esclareça sua Dúvidas antes de comprar seu Sneaker's...</p>
        <!-- Dúvida -->
        <div class="duvida" name="duvida">
          <h3><img class="imgSeta" src="/ImgGeral/img/icone-seta-baixo.png">Como efetuo e finalizo minhas compras?</h3>
          <h4>Escolha o Sneaker que deseja comprar, selecione o tamanho do calçado e quantidade desejada, adicione ao carrinho. Após isso você será direcionado ao WhatsApp de finalização e pagamento!
          </h4>
        </div>
        <!-- Dúvida -->
        <div class="duvida" name="duvida">
          <h3><img class="imgSeta" src="/ImgGeral/img/icone-seta-baixo.png">Quais são os metodos de pagamento disponíveis?</h3>
          <h4>No momento os metodos de pagamento disponíveis são <span>pix e mercado pago</span> (Mercado pago em até 6x no cartão com taxa*);</h4>
        </div>
        <!-- Dúvida -->
        <div class="duvida" name="duvida">
          <h3><img class="imgSeta" src="/ImgGeral/img/icone-seta-baixo.png">Qual é o prazo de entrega?</h3>
          <h4>O prazo de entrega irá depender da sua região, quanto mais próxima de Curitiba, mais rápido... O prazo médio está entre <span>15 a 20 dias após a compra!</span> </h4>
        </div>
        <!-- Dúvida -->
        <div class="duvida" name="duvida">
          <h3><img class="imgSeta" src="/ImgGeral/img/icone-seta-baixo.png">Qual a qualidade dos produtos?</h3>
          <h4>Todos os produtos vendidos são de <span>qualidade premium</span>, fotos reais dos nosso produtos estão disponíveis no nosso instagram (kicksclub.store).</h4>
        </div>
        <!-- Dúvida -->
        <div class="duvida" name="duvida">
          <h3><img class="imgSeta" src="/ImgGeral/img/icone-seta-baixo.png">E se minha encomenda atrasar?</h3>
          <h4>Fique tranquilo, seu envio é acompanhado diariamente e caso o produto não chegue por algum motivo inesperado, em até 60 dias úteis contados após o envio da compra, 100% do valor é devolvido para o cliente!</h4>
        </div>

        <div class="duvida" name="duvida">
          <h3><img class="imgSeta" src="/ImgGeral/img/icone-seta-baixo.png">Não achei o modelo que eu queria</h3>
          <h4>Entre em contato conosco e envie Informações do Sneaker desejado,faremos assim um orçamento individual!</h4>
        </div>
      </div>

    </section>


    <section class="sobre-mim section" id="sobre-mim">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>Sobre nós</h2>
          </div>

          <div class="informacoes-sobre-mim-text">
            <div class="informacoes-sobre-mim">
              <p>
                <strong
                  >Olá! Somos da Kick's Club Store, </strong
               > 
               sua escolha definitiva para tênis importados de <strong>alta qualidade</strong> . Somos mais do que uma empresa de importação; somos uma promessa de excelência, onde transparência e confiabilidade são os alicerces que sustentam nossas operações;
              </p>
  
              <p>
                Elevamos o padrão quando se trata de oferecer tênis de alta qualidade. Nossos produtos são escolhidos entre as <strong>melhores marcas internacionais</strong>, garantindo durabilidade, conforto e design inigualáveis. Comprometemo-nos a entregar apenas tênis que atendam aos mais rigorosos padrões de qualidade, porque acreditamos que seus passos merecem o melhor.
              </p>
  
              <p>Ao escolher a <strong>Kick's Club</strong> , você está optando por mais do que simplesmente adquirir tênis importados. Está escolhendo uma experiência de compra transparente, produtos de <strong>qualidade premium e a confiabilidade</strong>  de uma empresa dedicada a superar suas expectativas. Seus passos merecem ser trilhados com confiança, estilo e rapidez, e é isso que oferecemos a cada cliente da Kick's Club Store!</p>
              <div class="botoes">
                <a
                  target="_blank"
                  href="/About/Termos de Serviço.pdf"
                  class="botao"
                  >Termos de  Serviço</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


    <footer class="footer" id="contato">
      <div class="containerV1">
        <h2>Entre em contato conosco</h2>
      </div>

      <div class="formulario">
        <form
          class="contato"
          action="https://api.staticforms.xyz/submit"
          method="post"
        >
          <label>Nome</label>
          <input
            type="text"
            name="name"
            placeholder="Digite seu nome"
            class="campos"
            autocomplete="none"
            required
          />
          <label>Email</label>
          <input
            type="email"
            name="email"
            placeholder="Digite seu email"
            class="campos"
            autocomplete="none"
            required
          />
          <label>Mensagem</label>
          <textarea
            name="message"
            cols="30"
            rows="10"
            placeholder="Digite sua mensagem"
            class="campos"
            autocomplete="none"
            required
          ></textarea>
          <button type="submit" class="btn-enviar">Enviar</button>
          <input
            type="hidden"
            name="accessKey"
            value="101f8f43-7559-4d31-ac63-f9000a7466d8"
          />
          <input
            type="hidden"
            name="redirectTo"
            value="http://127.0.0.1:5500/index.html"
          />
        </form>
      </div>
    </footer>



    <footer>

      <div class="section-p1">
        <div class="col">
          <img class="logo" src="/ImgGeral/img/imports-05.png" />
          <h4>Contato</h4>
          <p><strong>Endereço: </strong>Londrina - PR</p>
          <p><strong>Telefone: </strong>+55 43 988007768</p>
          <p class="hr-suporte"><strong>Horário de suporte: </strong>9:00 - 19:00 DOM/DOM</p>
          <div class="follow">
            <h4>Siga-nos</h4>
            <div class="icon">
              <a href="https://api.whatsapp.com/send?phone=5543988007768&"
                ><i class="fab fa-whatsapp" style="color: #000000"></i
              ></a>
              <a href="https://www.instagram.com/kicksclub.store/"
                ><i class="fab fa-instagram" style="color: #000000"></i
              ></a>
              <a href="#"
                ><i class="fab fa-facebook-f" style="color: #000000"></i
              ></a>
            </div>
          </div>
        </div>

        <div id="sobre-nos" class="col">
          <h4>Sobre nós</h4>
          <a href="/About/about.html">Sobre</a>
          <a href="/About/about.html">Principais Informações</a>
          <a href="https://api.whatsapp.com/send?phone=5543988007768&">Contato</a>
          <a href="/About/Termos de Serviço.pdf" target="_blank">Termos de serviço</a>
        </div>

        <div id="sobre-nos" class="col">
          <h4>Minha Conta</h4>
          <a href="/cart/cart.html">Meu carrinho</a>
          <a
            href="https://rastreamento.correios.com.br/app/index.php"
            target="_blank"
            >Rastrear encomeda</a
          >
        </div>

        <div id="install" class="col install">
          <h4>Install App</h4>
          <p class="appP">From App Store or Google Play (application under development)</p>
          <div class="row">
            <img src="/ImgGeral/img/imgFooter/app.jpg" />
            <img src="/ImgGeral/img/imgFooter/play.jpg" />
          </div>
          <p>Metodos de pagamento 100% seguros!</p>
          <img src="/ImgGeral/img/imgFooter/pixPay.png" width="32px" alt="" />
          <img src="/ImgGeral/img/imgFooter/pay.png" alt="" />
          <img src="/ImgGeral/img/ico-lojaprotegida.png" width="160px" alt="" />
        </div>


       

      </div>
      <div class="copyright">
        <p>&copy; 2024 Kick's Store. <br> Code by Thiago Pedrero And Alberto Gouvea  </p>
    </div>
    </footer>

    <div class="buttonzap">
      <a href='https://api.whatsapp.com/send?phone=5543988007768&'class="iconWhats" target='_blank'><i class="fab fa-whatsapp"></i></a>
    </div>

    <script src="/js/scriptHAMBURGUER.js"></script>
    <script src="/About/duvidas.js"></script>
  </body>
</html>
