<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CssGeral/css/style.css" />
    <link rel="icon" href="/ImgGeral/img/abaLOGO.png" />
    <link rel="stylesheet" href="/cart/cart.css">
    <link rel="stylesheet" href="/CssGeral/css/responsive.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Kick's Club Store</title>
  </head>
  <body>
    <section id="header">
      <a href="#"><img class="logo" src="/ImgGeral/img/logoMainimports-04.png" /></a>

      <div class="menu">
        <ul id="navbar">
          <li><a  href="/index.html">Principal</a></li>
          <li><a href="/HtmlGeral/htmlBrend/shopJordan.html">Marcas</a></li>
          <li><a href="/About/about.html">Informações</a></li>
          <li><a href="/userAccount/Resgister/register.html">Registrar-se</a></li>
          <li><a href="/userAccount/login/login.html">Login</a></li>
          <li>
            <a class="active" href="#"
              ><i
                id="lg-bag"
                class="fas fa-shopping-bag"
                style="color: #000000"
              ></i
            ></a>
          </li>
          <a href="#" id="close"><i class="fas fa-times"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a href="#"
          ><i class="fas fa-shopping-bag" style="color: #000000"></i
        ></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>


    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remover</td>
                    <td>Produto</td>
                    <td>Tamanho</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><a class="AÇÃO REMOVER" href="#"><i class="far fa-times-circle fa-rotate-90" style="color: #ff0000;"></i></a></td>
                    <td><img src="/ImgGeral/imgpastaTenis/j1mocha1.jpg" width="140px"> <br>Air Jordan High Dark Mocha</td>
                    <td>43</td>
                    <td>R$599,90</td>
                    <td><input type="number" value="1"></td>
                    <td>599,90</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div id="cupon">
            <h3>Aplicar Cupom</h3>
            <div>
                <input type="text" placeholder="Escreva seu cupom!">
                <button class="normal">Aplicar</button>
            </div>
        </div>



        <div id="subtotal">
            <h3>Total do carrinho</h3>
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>R$900,00</td>
                </tr>
                <tr>
                    <td>Frete</td>
                    <td>Gratis</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>R$996,99</strong></td>
                </tr>
            </table>
            <button class="normal">Finalizar Compra!</button>
        </div>
    </section>


    <footer>
      <div class="section-p1">
        <div class="col">
          <img class="logo" src="/ImgGeral/img/imports-05.png" />
          <h4>Contato</h4>
          <p><strong>Endereço: </strong>Londrina - PR</p>
          <p><strong>Telefone: </strong>+55 43 988007768</p>
          <p class="hr-suporte"><strong>Horário de suporte: </strong>9:00 - 19:00 DOM/DOM</p>
          <div class="follow">
            <h4>Siga-nos</h4>
            <div class="icon">
              <a href="https://api.whatsapp.com/send?phone=5543988007768&"
                ><i class="fab fa-whatsapp" style="color: #000000"></i
              ></a>
              <a href="https://www.instagram.com/kicksclub.store/"
                ><i class="fab fa-instagram" style="color: #000000"></i
              ></a>
              <a href="#"
                ><i class="fab fa-facebook-f" style="color: #000000"></i
              ></a>
            </div>
          </div>
        </div>

        <div id="sobre-nos" class="col">
          <h4>Sobre nós</h4>
          <a href="/About/about.html">Sobre</a>
          <a href="/About/about.html">Principais Informações</a>
          <a href="https://api.whatsapp.com/send?phone=5543988007768&">Contato</a>
          <a href="/About/Termos de Serviço.pdf" target="_blank">Termos de serviço</a>
        </div>

        <div id="sobre-nos" class="col">
          <h4>Minha Conta</h4>
          <a href="#">Meu carrinho</a>
          <a
            href="https://rastreamento.correios.com.br/app/index.php"
            target="_blank"
            >Rastrear encomeda</a
          >
        </div>

        <div id="install" class="col install">
          <h4>Install App</h4>
          <p class="appP">From App Store or Google Play (application under development)</p>
          <div class="row">
            <img src="/ImgGeral/img/imgFooter/app.jpg" />
            <img src="/ImgGeral/img/imgFooter/play.jpg" />
          </div>
          <p>Metodos de pagamento 100% seguros!</p>
          <img src="/ImgGeral/img/imgFooter/pixPay.png" width="32px" alt="" />
          <img src="/ImgGeral/img/imgFooter/pay.png" alt="" />
          <img src="/ImgGeral/img/ico-lojaprotegida.png" width="160px" alt="" />
        </div>


       

      </div>

      <div class="copyright">
        <p>&copy; 2024 Kick's Store. <br> Code by Thiago Pedrero And Alberto Gouvea </p>
    </div>
    </footer>

    <div class="buttonzap">
      <a href='https://api.whatsapp.com/send?phone=5543988007768&'class="iconWhats" target='_blank'><i class="fab fa-whatsapp"></i></a>
    </div>

    <script src="/js/scriptHAMBURGUER.js"></script>
  </body>
</html>
