<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" href="../static/img/ImgGeral/img/abaLOGO.png" />
    <link rel="stylesheet" href="../static/css/responsive.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Kick's Club Store</title>
  </head>
  <body>
    <section id="header">
      <a href="{{ url_for('index') }}"><img class="logo" src="../static/img/ImgGeral/img/logoMainimports-04.png" /></a>

      <div class="menu">
        <ul id="navbar">
          <li><a class="active" href="{{ url_for('index') }}">Principal</a></li>
          <li><a href="{{ url_for('shopjordan') }}">Marcas</a></li>
          <li><a href="{{ url_for('about') }}">Informações</a></li>
          <li><a href="{{ url_for('register') }}">Registrar-se</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li>
            <a href="{{ url_for('cart') }}"
              ><i
                id="lg-bag"
                class="fas fa-shopping-bag"
                style="color: #000000"
              ></i
            ></a>
          </li>
          <a href="#" id="close"><i class="fas fa-times"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a href="{{ url_for('cart') }}"
          ><i class="fas fa-shopping-bag" style="color: #000000"></i
        ></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="hero">
      <h4>COM A MELHOR QUALIDADE!</h4>
      <h2>
        ADQUIRA O SEU SNEAKER DOS SONHOS <br/>COM O MELHOR PREÇO DO MERCADO!
      </h2>

      <h1 class="titleMobile">O Sneaker dos seus Sonhos</h1>

      <p> <span class="spanIndex">FRETE GRATIS</span> PARA TODO O BRASIL</p>
      <button onclick="window.location.href='{{ url_for('shopjordan') }}';">Compre Agora!</button>
    </section>

    <section id="feature" class="section-p1">
      <div class="fe-box">
        <img src="../static/img/ImgGeral/img/f1.png" />
        <h6>Compre com segurança! <br /></h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/ImgGeral/img/f2.png" />
        <h6>15 a 20 dias úteis na sua casa!</h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/ImgGeral/img/f3.png" />
        <h6>Econtre os melhores preços aqui!</h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/ImgGeral/img/f4.png" />
        <h6>Receba no conforto do seu lar!</h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/ImgGeral/img/f5.png" />
        <h6>Compra rápida e facilitada!</h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/ImgGeral/img/f6.png" />
        <h6>Suporte 24 horas!</h6>
      </div>
    </section>

    <section id="product1" class="section-p1">
      <h2>PRODUTOS EM DESTAQUE!</h2>
      <p>Sneaker's que nunca saem de moda...</p>

      <div class="pro-container">
        <div class="pro" onclick="window.location.href='{{ url_for('dunkpanda') }}';"> 
          <img src="../static/img/ImgGeral/imgpastaTenis/dunkLowPANDA1.jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk low Panda</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$519,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('dunkgrey') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/dunkretroGREY1.jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk low retro grey</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$519,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('dunkwhysosad') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/Whysosad1.jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk low Why so Sad?</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('airforcewhite') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/airforceWHITE1.jpg" />

          <div class="des">
            <span>Air Force</span>
            <h5>Air force White GR</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$439,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('j1lostandfound') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/Lostandfound1.jpg" />

          <div class="des">
            <span>Air Jordan 1 High</span>
            <h5>Air Jordan 1 High Lost And Found</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$759,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('j1lowallumi') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/airjordanALUMINIUN1.jpg" />

          <div class="des">
            <span>Air Jordan 1 low</span>
            <h5>Air Jordan 1 low Aluminum</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('j4whiteoreo') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/j4techwhite1.jpg" />

          <div class="des">
            <span>Air jordan 4</span>
            <h5>Air Jordan 4 tech white</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$649,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('j1darkmocha') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/j1mocha1.jpg" />

          <div class="des">
            <span>Air Jordar 1 High</span>
            <h5>Air Jordan 1 Dark Mocha</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('dunkuniversityblue') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/dunkuniversidadeGOLD1.jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk low University Gold</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$519,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1obsidian') }}';"
        >
          <img src="../static/img/ImgGeral/imgpastaTenis/j1obisidian1.jpg" />

          <div class="des">
            <span>Air Jordan 1 High</span>
            <h5>Air Jordan 1 High Obisidian</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,90 - 10% OFF via pix</h4>
          </div>
          <a href=""
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('nwgreen') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/nwb5501.jpg" />

          <div class="des">
            <span>New Balance</span>
            <h5>New Balance 550</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$529,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='{{ url_for('vansknu') }}';">
          <img src="../static/img/ImgGeral/imgpastaTenis/vansKNU1.jpg" />

          <div class="des">
            <span>Vans</span>
            <h5>Vans Knu</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>399,99 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>
      </div>
    </section>

    <section id="sm-banner" class="section-p1">
      <div id="airJordan"  class="banner-box" onclick="window.location.href='{{ url_for('shopjordan') }}';" style="cursor: pointer;">
      </div>

      <div id="adidas" class="banner-box" onclick="window.location.href='{{ url_for('shopadidas') }}';" style="cursor: pointer;"></div>

      <div id="nike" class="banner-box" onclick="window.location.href='{{ url_for('shopnike') }}';" style="cursor: pointer;"></div>

      <div id="yeezy" class="banner-box" onclick="window.location.href='{{ url_for('shopyeezy') }}';" style="cursor: pointer;"></div>

      <div id="vans" class="banner-box" onclick="window.location.href='{{ url_for('shopoutros') }}';" style="cursor: pointer;"></div>
    </section>

    <section id="banner" class="section-m1">
      <h4>Escolha Seu Modelo e Marca favorita!</h4>
      <h2>Ganhe <span>5% OFF</span> na sua primeira compra!</h2>
    </section>

    <footer>

      <div class="section-p1">
        <div class="col">
          <img class="logo" src="../static/img/ImgGeral/img/imports-05.png" />
          <h4>Contato</h4>
          <p><strong>Endereço: </strong>Londrina - PR</p>
          <p><strong>Telefone: </strong>+55 43 988007768</p>
          <p class="hr-suporte"><strong>Horário de suporte: </strong>9:00 - 19:00 DOM/DOM</p>
          <div class="follow">
            <h4>Siga-nos</h4>
            <div class="icon">
              <a href="https://api.whatsapp.com/send?phone=5543988007768&" target="_blank"
                ><i class="fab fa-whatsapp" style="color: #000000"></i
              ></a>
              <a href="https://www.instagram.com/kicksclub.store/"
              target="_blank" ><i class="fab fa-instagram" style="color: #000000"></i
              ></a>
              <a href="#" target="_blank"
                ><i class="fab fa-facebook-f" style="color: #000000"></i
              ></a>
            </div>
          </div>
        </div>

        <div id="sobre-nos" class="col">
          <h4>Sobre nós</h4>
          <a href="{{ url_for('about') }}">Sobre</a>
          <a href="{{ url_for('about') }}">Principais Informações</a>
          <a href="https://api.whatsapp.com/send?phone=5543988007768&">Contato</a>
          <a href="/About/Termos de Serviço.pdf">Termos de serviço</a>
        </div>

        <div id="sobre-nos" class="col">
          <h4>Minha Conta</h4>
          <a href="{{ url_for('cart') }}">Meu carrinho</a>
          <a
            href="https://rastreamento.correios.com.br/app/index.php"
            target="_blank"
            >Rastrear encomeda</a
          >
        </div>

        <div id="install" class="col install">
          <h4>Install App</h4>
          <p class="app">From App Store or Google Play (application under development)</p>
          <div class="row">
            <img src="../static/img/imgGeral/img/imgFooter/app.jpg" />
            <img src="../static/img/imgGeral/img/imgFooter/play.jpg" />
          </div>
          <p>Metodos de pagamento 100% seguros!</p>
          <img src="../static/img/imgGeral/img/imgFooter/pixPay.png" width="32px" alt="" />
          <img src="../static/img/imgGeral/img/imgFooter/pay.png" alt="" />
          <img src="../static/img/imgGeral/img/ico-lojaprotegida.png" width="160px" alt="" />
        </div>
      </div>

      <div class="copyright">
        <p>&copy; 2024 Kick's Store. <br> Code by Thiago Pedrero And Alberto Gouvea </p>
    </div>
    </footer>



    <div class="buttonzap">
      <a href='https://api.whatsapp.com/send?phone=5543988007768&'class="iconWhats" target='_blank'><i class="fab fa-whatsapp"></i></a>
    </div>
    
    <script src="../static/js/scriptHAMBURGUER.js"></script>
  </body>
</html>
