<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/CssGeral/css/style.css" />
    <link rel="stylesheet" href="/CssGeral/css/styleSHOP.css" />
    <link rel="stylesheet" href="/CssGeral/css/responsive.css">


    <link rel="icon" href="/ImgGeral/img/abaLOGO.png" />

    <title>Kick's Club Store</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section id="header">
      <a href="/index.html"><img class="logo" src="/ImgGeral/img/logoMainimports-04.png" /></a>

      <div class="menu">
        <ul id="navbar">
          <li><a href="/index.html">Principal</a></li>
          <li><a href="/HtMlGeral/htmlBrend/shopJordan.html">Marcas</a></li>
          <li><a href="/About/about.html">Informações</a></li>
          <li><a href="/userAccount/Resgister/register.html">Registrar-se</a></li>
          <li><a href="/userAccount/login/login.html">Login</a></li>
          <li>
            <a href="/cart/cart.html"
              ><i
                id="lg-bag"
                class="fas fa-shopping-bag"
                style="color: #000000"
              ></i
            ></a>
          </li>
          <a href="#" id="close"><i class="fas fa-times"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a href="/cart/cart.html"
          ><i class="fas fa-shopping-bag" style="color: #000000"></i
        ></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>


     
    </section>

    <section id="prodetails" class="section-p1">
      <div class="single-pro-image">
        <img src="/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4IMG/j4WhiteOreo (1).jpg" width="100%" id="MainImg">

        <div class="small-img-group">
          <div class="small-img-col">
            <img src="/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4IMG/j4WhiteOreo (2).jpg" width="100%" class="small-img">
          </div>

          <div class="small-img-col">
            <img src="/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4IMG/j4WhiteOreo (3).jpg" width="100%" class="small-img">
          </div>

          <div class="small-img-col">
            <img src="/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4IMG/j4WhiteOreo (4).jpg" width="100%" class="small-img">
          </div>

          <div class="small-img-col">
            <img src="/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4IMG/j4WhiteOreo (1).jpg" width="100%" class="small-img">
          </div>
        </div>
      </div>


      <div class="single-pro-details">
        <h6>Air Jodan / Air Jordan 4 </h6>
        <h4>Air Jordan 4 White Oreo</h4>
        <h2>659,90</h2>
        <select>
          <option>Escolhe Um Tamanho!</option>
          <option>36</option>
          <option>37</option>
          <option>38</option>
          <option>39</option>
          <option>40</option>
          <option>41</option>
          <option>42</option>
          <option>43</option>
          <option>44</option>
        </select>
        <input type="number" value="1">
        <button class="normal">Adicione ao Carrinho</button>
        <h4>Detalhes Do Produto</h4>
        <span>O Tênis Air Jordan 4 Retro "White Oreo" inspira-se nas cores metálicas originais do Air Jordan 1 de 1985. Ousadamente original, as novas cores icônicas continuam a reforçar a herança inigualável da marca. Couro legítimo e materiais sintéticos. Entressola de poliuretano com unidade Air-Sole visível no calcanhar e unidade Air-Sole encapsulada no antepé. Sola de borracha para durabilidade e tração<span>
      </div>
    </section>


    <section id="product1" class="section-p1">
      <h2>MODELOS SIMILARES!</h2>
      <p>Sneaker's Do Momento...</p>

      <div class="pro-container">

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/jordanProduct/Jordan1/j1Hmtlproduct/j1TrophyRoom.html';">
          <img src="/HtmlGeral/htmlProduct/jordanProduct/Jordan1/j1img/J1HtroppyR (1).jpg" />

          <div class="des">
            <span>Air Jordan 1 High</span>
            <h5>Trophy Room x Air Jordan 1 High</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>


        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4HTML/j4MilitaryBlue.html';">
            <img
              src="/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4IMG/j4University Blue(1).jpg"
            />
  
            <div class="des">
              <span>Air Jordan 4</span>
              <h5>Air Jordan 4 University Blue</h5>
              <div class="star">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <h4>659,90 - 10% OFF via pix</h4>
            </div>
            <a href="#"
              ><i class="fas fa-shopping-cart" style="color: #000000"></i
            ></a>
          </div>

          <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4HTML/j4Lightning.html';">
            <img
              src="/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4IMG/j4Lightning(1).jpg"
            />
  
            <div class="des">
              <span>Air Jordan 4</span>
              <h5>Air Jordan 4 Retro Lightning</h5>
              <div class="star">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <h4>659,90 - 10% OFF via pix</h4>
            </div>
            <a href="#"
              ><i class="fas fa-shopping-cart" style="color: #000000"></i
            ></a>
          </div>
  

          <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4HTML/j4CoolGrey.html';">
            <img
              src="/HtmlGeral/htmlProduct/jordanProduct/jordan4/jordan4IMG/j4CoolGrey (1).jpg"
            />
  
            <div class="des">
              <span>Air Jordan 4</span>
              <h5>Air Jordan 4 Cool Grey</h5>
              <div class="star">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <h4>659,90 - 10% OFF via pix</h4>
            </div>
            <a href="#"
              ><i class="fas fa-shopping-cart" style="color: #000000"></i
            ></a>
          </div>

      </div>
    </section>



    <footer>
      <div class="footer-bottom">
          <p>&copy; 2024 Kick's Store. <br> Code by Thiago Pedrero And Alberto Gouvea  </p>
      </div>
  </footer>

    <script src="/js/scriptHAMBURGUER.js"></script>

    <script>
      var MainImg = document.getElementById("MainImg");
      var smallimg = document.getElementsByClassName("small-img")

      smallimg[0].onclick = function(){
        MainImg.src = smallimg[0].src;
      }
      smallimg[1].onclick = function(){
        MainImg.src = smallimg[1].src;
      }
      smallimg[2].onclick = function(){
        MainImg.src = smallimg[2].src;
      }
      smallimg[3].onclick = function(){
        MainImg.src = smallimg[3].src;
      }
    </script>
  </body>
</html>