<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CssGeral/css/styleSHOP.css" />
    <link rel="stylesheet" href="/CssGeral/css/responsive.css" />
    <link rel="stylesheet" href="/CssGeral/cssBrend/adidasHeader.css" />

    <link rel="icon" href="/ImgGeral/img/abaLOGO.png" />

    <title>Kick's Club Store</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section id="header">
      <a href="#"><img class="logo" src="/ImgGeral/img/logoMainimports-04.png" /></a>

      <div class="menu">
        <ul id="navbar">
          <li><a href="/index.html">Principal</a></li>
          <li><a class="active" href="#sm-banner">Marcas</a></li>
          <li><a href="/About/about.html">Informações</a></li>
          <li><a href="/userAccount/Resgister/register.html">Registrar-se</a></li>
          <li><a href="/userAccount/login/login.html">Login</a></li>
          <li>
            <a href="/cart/cart.html"
              ><i
                id="lg-bag"
                class="fas fa-shopping-bag"
                style="color: #000000"
              ></i
            ></a>
          </li>
          <a href="#" id="close"><i class="fas fa-times"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a href="/cart/cart.html"
          ><i class="fas fa-shopping-bag" style="color: #000000"></i
        ></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="page-header" class="pageAdidas">
    </section>

    <h1 class="title-brand">Coleção ADIDAS</h1>

    <section id="product1" class="section-p1">
      <div class="pro-container">

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/AdcampusWhiteBlack.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiCampuBlack (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Campus 00s White Black And White</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adCampusGrey.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiCampusbalckGrey (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Campus 00s Metalic Silver</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adCampusGreen.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiCampusGreenFD.png" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Campus 00s Green</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adCampusgreyLITE.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiCampusgrey (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Campus 00s Grey</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adCampusBlue.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiCampusBlueFD.png" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Campus 00s Semi Lucid Blue Cloud White</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adCampusWine.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiCampuspinkFD.png" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Campus 00s Semi Wine</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adUltraBoost4.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiUltraBoostWhite (1).jpg" />

          <div class="des">
            <span>Ultra Boost</span>
            <h5>Adidas Ultra Boost 4.0</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$449,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adUltraBoost22.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiUltra Boost22 (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>adidas Ultra Boost 2022</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$519,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adUltraBoost23.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiUltraBoost2023 (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>adidas Ultra Boost 2023</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$559,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adBedBandoffWhite.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiBadBunny (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Bad Bunny Forum Low Grey Rabbit</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adBadBunnyBlack.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/aidBadBuunyBlack (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Bad Bunny Forum Low Back To School</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adBadBunnyBlue.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiBadbunnyBlue (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Bad Bunny x adidas originals Forum Low Blue Tint</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        
        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adSuperStarBlue.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiSuperBlue (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Superstar Shoes White Black Light Blue</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$399,90 ou Parcelado com juros*</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        
        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adSuperStarWhite.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiSuperwhite.jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Superstar Shoes White</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$399,99 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        
        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adSuperStarPink.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiSuperWhiteandPink (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Superstar Shoes White and Pink</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$399,99 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        
        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/adidasProduct/adidasHTML/adSuperStarBlack.html';">
          <img src="/HtmlGeral/htmlProduct/adidasProduct/adidasIMG/adiSuperBlack (1).jpg" />

          <div class="des">
            <span>Adidas</span>
            <h5>Adidas Superstar Shoes Black</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$399,99 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#"><i class="fas fa-arrow-right"></i></a>
    </section>

    <section id="sm-banner" class="section-p1">
      <div id="airJordan"  class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopJordan.html';" style="cursor: pointer;">
      </div>

      <div id="adidas" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopAdidas.html';" style="cursor: pointer;"></div>

      <div id="nike" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopNike.html';" style="cursor: pointer;"></div>

      <div id="yeezy" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopYeezy.html';" style="cursor: pointer;"></div>

      <div id="vans" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/ShopOutros.html';" style="cursor: pointer;"></div>
    </section>


    <footer>
      <div class="footer-bottom">
        <p>
          &copy; 2024 Kick's Store. <br />
          Code by Thiago Pedrero And Alberto Gouvea
        </p>
      </div>
    </footer>

    <div class="buttonzap">
      <a href='https://api.whatsapp.com/send?phone=5543988007768&'class="iconWhats" target='_blank'><i class="fab fa-whatsapp"></i></a>
    </div>

    <script src="/js/scriptHAMBURGUER.js"></script>
  </body>
</html>
