<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CssGeral/css/styleSHOP.css" />
    <link rel="stylesheet" href="/CssGeral/css/responsive.css" />

    <link rel="stylesheet" href="/CssGeral/cssBrend/yeezyHeader.css" />

    <link rel="icon" href="/ImgGeral/img/abaLOGO.png" />

    <title>Kick's Club Store</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section id="header">
      <a href="/index.html"><img class="logo" src="/ImgGeral/img/logoMainimports-04.png" /></a>

      <div class="menu">
        <ul id="navbar">
          <li><a href="/index.html">Principal</a></li>
          <li><a class="active" href="/HtmlGeral/htmlBrend/shopJordan.html">Marcas</a></li>
          <li><a href="/About/about.html">Informações</a></li>
          <li><a href="/userAccount/Resgister/register.html">Registrar-se</a></li>
          <li><a href="/userAccount/login/login.html">Login</a></li>
          <li>
            <a href="/cart/cart.html"
              ><i
                id="lg-bag"
                class="fas fa-shopping-bag"
                style="color: #000000"
              ></i
            ></a>
          </li>
          <a href="#" id="close"><i class="fas fa-times"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a href="/cart/cart.html"
          ><i class="fas fa-shopping-bag" style="color: #000000"></i
        ></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="page-header" class="pageAdidas">
    </section>

    <h1 class="title-brand">Coleção YEEZY BOOST</h1>

    <section id="product1" class="section-p1">
      <div class="pro-container">
        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/YzBlackBlue.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/YzBlackBlue (1).jpg" />

          <div class="des">
            <span>Yeezy Boost 350</span>
            <h5>NYeezy Boost 350 V2 Dazzling Blue</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/YzOreo.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/YzBlackWhite (1).jpg" />

          <div class="des">
            <span>Yeezy Boost 350</span>
            <h5>Yeezy Boost 350 V2 Oreo</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/YzYecheil.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/YzYecheilReflective (1).jpg" />

          <div class="des">
            <span>Yeezy Boost 350</span>
            <h5>Yeezy Boost 350 v2 Yecheil</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/YzBred.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/YzBred (1).jpg" />

          <div class="des">
            <span>Yeezy Boost 350</span>
            <h5>Yeezy Boost 350 v2 Black Red (Bred)</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/YzSlate.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/YzSlate(1).jpg" />

          <div class="des">
            <span>Yeezy Boost 350</span>
            <h5>Yeezy Boost 350 V2 Slate</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/YzOat.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/YzBeluga (1).jpg" />

          <div class="des">
            <span>Yeezy Boost 350</span>
            <h5>Yeezy Boost 350 v2 Beluga</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/YzBeluga.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/YzMXaot (1).jpg" />

          <div class="des">
            <span>Yeezy Boost 350</span>
            <h5>Yeezy Boost 350 V2 MX Oat</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/YzZebra.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/YzZebra (1).jpg" />

          <div class="des">
            <span>Yeezy Boost 350</span>
            <h5>Yeezy Boost 350 v2 Zebra</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/YzBone.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/YzBone (1).jpg" />

          <div class="des">
            <span>Yeezy Boost 350</span>
            <h5>Yeezy Boost 350 V2 Bone</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/Yz700Static.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/Yz700Static (1).jpg" />

          <div class="des">
            <span>Yeezy 700</span>
            <h5>Yeezy 700 V2 Static</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/Yz700WaveRun.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/Yz700WaveRunner (1).jpg" />

          <div class="des">
            <span>Yeezy 700</span>
            <h5>Yeezy 700 V2 Wave Runner</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/Yz700Vanta.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/Yz700Vanta(1).jpg" />

          <div class="des">
            <span>Yeezy 700</span>
            <h5>Yeezy 700 v2 Vanta</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/Yz700Inertia.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/Yz700Inertia (1).jpg" />

          <div class="des">
            <span>Yeezy 700</span>
            <h5>Yeezy 700 v1 Inertia</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/Yz700V3azael.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/Yz700V3Azael (1).jpg" />

          <div class="des">
            <span>Yeezy 700 v3</span>
            <h5>Yeezy 700 v3 Azael</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/Yz700V3Kyanite.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/Yz700V3Kyanite (1).jpg" />

          <div class="des">
            <span>Yeezy 700 v3</span>
            <h5>Yeezy 700 v3 Kyanite</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/yeezyProduct/yeezyHTML/Yz700V3Eremiel.html';">
          <img src="/HtmlGeral/htmlProduct/yeezyProduct/yeezyIMG/Yz700V3Eremiel (1).jpg" />

          <div class="des">
            <span>Yeezy 700 v3</span>
            <h5> Yeezy Boost 700 V3 Eremiel</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#"><i class="fas fa-arrow-right"></i></a>
    </section>

    <section id="sm-banner" class="section-p1">
      <div id="airJordan"  class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopJordan.html';" style="cursor: pointer;">
      </div>

      <div id="adidas" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopAdidas.html';" style="cursor: pointer;"></div>

      <div id="nike" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopNike.html';" style="cursor: pointer;"></div>

      <div id="yeezy" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopYeezy.html';" style="cursor: pointer;"></div>

      <div id="vans" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/ShopOutros.html';" style="cursor: pointer;"></div>
    </section>

    <footer>
      <div class="footer-bottom">
        <p>
          &copy; 2024 Kick's Store. <br />
          Code by Thiago Pedrero And Alberto Gouvea
        </p>
      </div>
    </footer>

    <div class="buttonzap">
      <a href='https://api.whatsapp.com/send?phone=5543988007768&'class="iconWhats" target='_blank'><i class="fab fa-whatsapp"></i></a>
    </div>

    <script src="/js/scriptHAMBURGUER.js"></script>
  </body>
</html>
