<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styleSHOP.css" />
    <link rel="stylesheet" href="../static/css/responsive.css" />

    <link rel="stylesheet" href="../static/css/jordanHeader.css" />

    <link rel="icon" href="../static/img/ImgGeral/img/abaLOGO.png" />

    <title>Kick's Club Store</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section id="header">
      <a href="{{ url_for('index') }}"
        ><img
          class="logo"
          src="../static/img/ImgGeral/img/logoMainimports-04.png"
      /></a>

      <div class="menu">
        <ul id="navbar">
          <li><a href="{{ url_for('index') }}">Principal</a></li>
          <li><a class="active" href="#sm-banner">Marcas</a></li>
          <li><a href="{{ url_for('about') }}">Informações</a></li>
          <li>
            <a href="{{ url_for('register') }}">Registrar-se</a>
          </li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li>
            <a href="{{ url_for('cart') }}"
              ><i
                id="lg-bag"
                class="fas fa-shopping-bag"
                style="color: #000000"
              ></i
            ></a>
          </li>
          <a href="#" id="close"><i class="fas fa-times"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a href="{{ url_for('cart') }}"
          ><i class="fas fa-shopping-bag" style="color: #000000"></i
        ></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="page-header"></section>

    <h1 class="title-brand">Coleção AIR JORDAN</h1>

    <section id="product1" class="section-p1">
      <div class="pro-container">
        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1darkmocha') }}';"
        >
          <img src="../static/img/imgpastaTenis/j1mocha1.jpg" />

          <div class="des">
            <span>Air Jordan 1</span>
            <h5>Air Jordan Dark Mocha</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1lostandfound') }}';"
        >
          <img src="../static/img/ImgGeral/imgpastaTenis/Lostandfound1.jpg" />

          <div class="des">
            <span>Air Jordan 1</span>
            <h5>Air Jordan 1 Lost And Found</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1obsidian') }}';"
        >
          <img src="../static/img/imgpastaTenis/j1obisidian1.jpg" />

          <div class="des">
            <span>Air Jordan 1</span>
            <h5>Air Jordan 1 High Obisidian</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1yellowtoe') }}';"
        >
          <img src="../static/img/j1img/j1Yellow.jpg" />

          <div class="des">
            <span>Air Jordan 1</span>
            <h5>Air Jordan 1 Yellow Toe</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1lowallumi') }}';"
        >
          <img src="../static/img/j1img/J1lowBlue (1).jpg" />

          <div class="des">
            <span>Air Jordan 1 Low</span>
            <h5>Air Jordan 1 Low Aluminum</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$579,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1guavaice') }}';"
        >
          <img src="../static/img/j1img/j1LguavaIce (1).jpg" />

          <div class="des">
            <span>Air Jordan 1 Low</span>
            <h5>Air Jordan 1 Low Guava Ice</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$579,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1lowtravists') }}';"
        >
          <img src="../static/img/j1img/J1Ltravis (1).jpg" />

          <div class="des">
            <span>Air jordan 1 Low</span>
            <h5>Air Jordan 1 Low x TS</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$699,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1lowconcord') }}';"
        >
          <img src="../static/img/j1img/J1Lconcord (1).jpg" />

          <div class="des">
            <span>Air Jordar 1 Low</span>
            <h5>Air Jordan 1 Low Concord</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$579,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1highunc') }}';"
        >
          <img src="../static/img/j1img/J1HUNC Toe (1).jpg" />

          <div class="des">
            <span>Air Jordan 1</span>
            <h5>Air Jordan 1 High UNC Toe</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1hightravis') }}';"
        >
          <img src="../static/img/j1img/J1Htraviss (1).jpg" />

          <div class="des">
            <span>Air Jordan 1 High</span>
            <h5>Travis Scott x Air Jordan 1 High</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$699,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1trophyroom') }}';"
        >
          <img src="../static/img/j1img/J1HtroppyR (1).jpg" />

          <div class="des">
            <span>Air Jordan 1 High</span>
            <h5>Trophy Room x Air Jordan 1 High</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j1highbredpatent') }}';"
        >
          <img src="../static/img/j1img/J1HbredPatent (1).jpg" />

          <div class="des">
            <span>Air Jordan 1 High</span>
            <h5>Air Jordan 1 High OG Bred Patent</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,909 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j4militaryblack') }}';"
        >
          <img src="../static/img/jordan4IMG/J4militaryBlk (1).jpg" />

          <div class="des">
            <span>Air Jordan 4</span>
            <h5>Air Jordan 4 Military Black</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,99 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j4bred') }}';"
        >
          <img src="../static/img/jordan4IMG/j4Bred (1).jpg" />

          <div class="des">
            <span>Air Jordan 4</span>
            <h5>Air Jordan 4 Bred</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j4whiteoreo') }}';"
        >
          <img src="../static/img/jordan4IMG/j4WhiteOreo (1).jpg" />

          <div class="des">
            <span>Air Jordan 4</span>
            <h5>Air Jordan 4 White Oreo</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j4militaryblue') }}';"
        >
          <img src="../static/img/jordan4IMG/j4University Blue(1).jpg" />

          <div class="des">
            <span>Air Jordan 4</span>
            <h5>Air Jordan 4 University Blue</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j4blackcat') }}';"
        >
          <img src="../static/img/jordan4IMG/j4BlackCat (1).jpg" />

          <div class="des">
            <span>Air Jordan 4</span>
            <h5>Air Jordan 4 Black Cat</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j4lightning') }}';"
        >
          <img src="../static/img/jordan4IMG/j4Lightning(1).jpg" />

          <div class="des">
            <span>Air Jordan 4</span>
            <h5>Air Jordan 4 Retro Lightning</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j4coolgrey') }}';"
        >
          <img src="../static/img/jordan4IMG/j4CoolGrey (1).jpg" />

          <div class="des">
            <span>Air Jordan 4</span>
            <h5>Air Jordan 4 Cool Grey</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('j4pinegreen') }}';"
        >
          <img src="../static/img/jordan4IMG/j4PineGreen (1).jpg" />

          <div class="des">
            <span>Air Jordan 4</span>
            <h5>Air Jordan 4 Pine Green</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="{{ url_for('shopjordan2') }}">2</a>
      <a href="#"><i class="fas fa-arrow-right"></i></a>
    </section>

    <section id="sm-banner" class="section-p1">
      <div
        id="airJordan"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopjordan') }}';"
        style="cursor: pointer"
      ></div>

      <div
        id="adidas"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopadidas') }}';"
        style="cursor: pointer"
      ></div>

      <div
        id="nike"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopnike') }}';"
        style="cursor: pointer"
      ></div>

      <div
        id="yeezy"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopyeezy') }}';"
        style="cursor: pointer"
      ></div>

      <div
        id="vans"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopoutros') }}';"
        style="cursor: pointer"
      ></div>
    </section>

    <footer>
      <div class="footer-bottom">
        <p>
          &copy; 2024 Kick's Store. <br />
          Code by Thiago Pedrero And Alberto Gouvea
        </p>
      </div>
    </footer>

    <div class="buttonzap">
      <a
        href="https://api.whatsapp.com/send?phone=5543988007768&"
        class="iconWhats"
        target="_blank"
        ><i class="fab fa-whatsapp"></i
      ></a>
    </div>

    <script src="../static/js/scriptHAMBURGUER.js"></script>
  </body>
</html>
