<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styleSHOP.css" />
    <link rel="stylesheet" href="../static/css/responsive.css" />

    <link rel="stylesheet" href="../static/css/vansHeader.css" />

    <link rel="icon" href="../static/img/ImgGeral/img/abaLOGO.png" />

    <title>Kick's Club Store</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section id="header">
      <a href="#"
        ><img
          class="logo"
          src="../static/img/ImgGeral/img/logoMainimports-04.png"
      /></a>

      <div class="menu">
        <ul id="navbar">
          <li><a href="{{ url_for('index') }}">Principal</a></li>
          <li><a class="active" href="#sm-banner">Marcas</a></li>
          <li><a href="{{ url_for('about') }}">Informações</a></li>
          <li>
            <a href="{{ url_for('register') }}">Registrar-se</a>
          </li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li>
            <a href="{{ url_for('cart') }}"
              ><i
                id="lg-bag"
                class="fas fa-shopping-bag"
                style="color: #000000"
              ></i
            ></a>
          </li>
          <a href="#" id="close"><i class="fas fa-times"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a href="{{ url_for('cart') }}"
          ><i class="fas fa-shopping-bag" style="color: #000000"></i
        ></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="page-header"></section>

    <h1 class="title-brand">Outras Marcas</h1>

    <section id="product1" class="section-p1">
      <div class="pro-container">
        <div
          class="pro"
          onclick="window.location.href='{{ url_for('lvblue') }}';"
        >
          <img src="../static/img/OutrosIMG/LVtrainerBlue (1).jpg" />

          <div class="des">
            <span>LOUIS VUITTON</span>
            <h5>LOUIS VUITTON LV TRAINER (BLUE)</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$649,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('lvblack') }}';"
        >
          <img src="../static/img/OutrosIMG/LVtrainerBlack (1).jpg" />

          <div class="des">
            <span>LOUIS VUITTON</span>
            <h5>LOUIS VUITTON LV TRAINER (BLACK AND WHITE)</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$649,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('lvgreen') }}';"
        >
          <img src="../static/img/OutrosIMG/LVtrainerGreen (1).jpg" />

          <div class="des">
            <span>LOUIS VUITTON</span>
            <h5>LOUIS VUITTON LV TRAINER (GREEN)</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$649,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('nwgreen') }}';"
        >
          <img src="../static/img/OutrosIMG/NW550green (1).jpg" />

          <div class="des">
            <span>NEW BALANCE</span>
            <h5>New Balance 550 White Green</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('nwblack') }}';"
        >
          <img src="../static/img/OutrosIMG/NW550blackandWhite (1).jpg" />

          <div class="des">
            <span>NEW BALANCE</span>
            <h5>New Balance 550 Black and White</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('nwoffwhite') }}';"
        >
          <img src="../static/img/OutrosIMG//NW550offWhite (1).jpg" />

          <div class="des">
            <span>NEW BALANCE</span>
            <h5>New Balance 550 Off-White</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('bapewhite') }}';"
        >
          <img src="../static/img/OutrosIMG/BapeWhite (1).jpg" />

          <div class="des">
            <span>BAPE</span>
            <h5>BAPE x JJJJOUND - Bapesta "White/Light Grey"</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$519,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('bapeblue') }}';"
        >
          <img src="../static/img/OutrosIMG/BapeBlue (1).jpg" />

          <div class="des">
            <span>BAPE</span>
            <h5>BAPE - Bapesta "North Carolina"</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$519,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('bapeblack') }}';"
        >
          <img src="../static/img/OutrosIMG/BapeBlack (1).jpg" />

          <div class="des">
            <span>BAPE</span>
            <h5>BAPE - Bapesta "Black"</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$519,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('vansknu') }}';"
        >
          <img src="../static/img/OutrosIMG/VansKNU (1).jpg" />

          <div class="des">
            <span>VANS</span>
            <h5>Vans Knu Skool Black True White</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$399,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div
          class="pro"
          onclick="window.location.href='{{ url_for('mcqueenwhite') }}';"
        >
          <img src="../static/img/OutrosIMG/AlexanderWhite (1).jpg" />

          <div class="des">
            <span>ALEXANDER MCQUEEN</span>
            <h5>Alexander McQueen Black and White</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$659,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#"><i class="fas fa-arrow-right"></i></a>
    </section>

    <section id="sm-banner" class="section-p1">
      <div
        id="airJordan"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopjordan') }}';"
        style="cursor: pointer"
      ></div>

      <div
        id="adidas"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopadidas') }}';"
        style="cursor: pointer"
      ></div>

      <div
        id="nike"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopnike') }}';"
        style="cursor: pointer"
      ></div>

      <div
        id="yeezy"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopyeezy') }}';"
        style="cursor: pointer"
      ></div>

      <div
        id="vans"
        class="banner-box"
        onclick="window.location.href='{{ url_for('shopoutros') }}';"
        style="cursor: pointer"
      ></div>
    </section>

    <footer>
      <div class="footer-bottom">
        <p>
          &copy; 2024 Kick's Store. <br />
          Code by Thiago Pedrero And Alberto Gouvea
        </p>
      </div>
    </footer>

    <div class="buttonzap">
      <a
        href="https://api.whatsapp.com/send?phone=5543988007768&"
        class="iconWhats"
        target="_blank"
        ><i class="fab fa-whatsapp"></i
      ></a>
    </div>

    <script src="../static/js/scriptHAMBURGUER.js"></script>
  </body>
</html>
