<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CssGeral/css/styleSHOP.css" />
    <link rel="stylesheet" href="/CssGeral/css/responsive.css" />

    <link rel="stylesheet" href="/CssGeral/cssBrend/nikeHeader.css" />

    <link rel="icon" href="/ImgGeral/img/abaLOGO.png" />

    <title>Kick's Club Store</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>


    <section id="header">
      <a href="#"><img class="logo" src="/ImgGeral/img/logoMainimports-04.png" /></a>

      <div class="menu">
        <ul id="navbar">
          <li><a href="/index.html">Principal</a></li>
          <li><a class="active" href="#sm-banner">Marcas</a></li>
          <li><a href="/About/about.html">Informações</a></li>
          <li><a href="/userAccount/Resgister/register.html">Registrar-se</a></li>
          <li><a href="/userAccount/login/login.html">Login</a></li>
          <li>
            <a href="/cart/cart.html"
              ><i
                id="lg-bag"
                class="fas fa-shopping-bag"
                style="color: #000000"
              ></i
            ></a>
          </li>
          <a href="#" id="close"><i class="fas fa-times"></i></a>
        </ul>
      </div>

      <div id="mobile">
        <a href="/cart/cart.html"
          ><i class="fas fa-shopping-bag" style="color: #000000"></i
        ></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>


    <section id="page-header" class="pageAdidas">
    </section>

    <h1 class="title-brand">Coleção NIKE</h1>

    <section id="product1" class="section-p1">
      <div class="pro-container">
        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkPanda.html';">
          <img src="/ImgGeral/imgpastaTenis/dunkLowPANDA1.jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk low Panda</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10%OFF via Pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkGrey.html';">
          <img src="/ImgGeral/imgpastaTenis/dunkretroGREY1.jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk Low Reverse Grey</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkShySoSad.html';">
          <img src="/ImgGeral/imgpastaTenis/Whysosad1.jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk low Why so Sad?</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkTravis.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkTraviss (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Travis Scott x Nike SB Dunk Low Cactus Jack</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkLosAngeles.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkProPRM (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike SB Dunk Low LA Dodgers</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkPandaPigeon.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkPandaPRO (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk Panda Pigeon</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkStrangeLove.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkStrangeLove (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike SB Dunk Low Strangelove</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkHuf.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkDriftwood (1).jpg" />

          <div class="des">
            <span>Air Jorda 1 High</span>
            <h5>HUF x Nike SB Dunk Low New York</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkReversePanda.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkReversePanda (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk low Reverse Panda</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkUniversityBlue.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkUniversityBlue (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Dunk University Blue</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkApril.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkApril (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>April Skateboards x Nike SB Dunk Low Turbo Green</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkBorn.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkBornRaised (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Born x Raised x Nike SB Dunk Low Block At A Time</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkGreenApple.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkGreenApple(1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike SB Dunk Low Pro Sour Apple</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkMetalicGold.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkMetalicGold (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk Low Metallic Gold</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkPowerPuff.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/DunkGirlsBlue (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>The Powerpuff Girls x Nike SB Dunk Low Bubbles</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$549,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkValentine.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/dunkValentine (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike Dunk Low Premium Valentine's Day</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/dunkCourtPurple.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/dunkPurpleSuede (1).jpg" />

          <div class="des">
            <span>Dunk</span>
            <h5>Nike SB Dunk Low Court Purple</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/airmaxWotherSpoon.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/Airmax90Wotherspoon (1).jpg" />

          <div class="des">
            <span>Air Max</span>
            <h5>Sean Wotherspoon x Air Max 97</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$599,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/airmax9white.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/Airmax97White (1).jpg" />

          <div class="des">
            <span>Air Max</span>
            <h5>Air Max 97 White</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$499,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>

        <div class="pro" onclick="window.location.href='/HtmlGeral/htmlProduct/nikeProduct/nikeHTML/airforceWhite.html';">
          <img src="/HtmlGeral/htmlProduct/nikeProduct/nikeImg/AirForceWhite (1).jpg" />

          <div class="des">
            <span>Air Force</span>
            <h5>Nike Air Force 1 07 White GR</h5>
            <div class="star">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h4>R$399,90 - 10% OFF via pix</h4>
          </div>
          <a href="#"
            ><i class="fas fa-shopping-cart" style="color: #000000"></i
          ></a>
        </div>


      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#"><i class="fas fa-arrow-right"></i></a>
    </section>

    <section id="sm-banner" class="section-p1">
      <div id="airJordan"  class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopJordan.html';" style="cursor: pointer;">
      </div>

      <div id="adidas" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopAdidas.html';" style="cursor: pointer;"></div>

      <div id="nike" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopNike.html';" style="cursor: pointer;"></div>

      <div id="yeezy" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/shopYeezy.html';" style="cursor: pointer;"></div>

      <div id="vans" class="banner-box" onclick="window.location.href='/HtmlGeral/htmlBrend/ShopOutros.html';" style="cursor: pointer;"></div>
    </section>

    <footer>
      <div class="footer-bottom">
        <p>
          &copy; 2024 Kick's Store. <br />
          Code by Thiago Pedrero And Alberto Gouvea
        </p>
      </div>
    </footer>

    <div class="buttonzap">
      <a href='https://api.whatsapp.com/send?phone=5543988007768&'class="iconWhats" target='_blank'><i class="fab fa-whatsapp"></i></a>
    </div>

    <script src="/js/scriptHAMBURGUER.js"></script>
  </body>
</html>
